@{
    ViewBag.Title = "Completed";
}
<div class="row">
    <div class="col s12 m5">
        <div class="card-panel teal">
            <span class="white-text">
                <i class="large material-icons">done</i><span>Payment Was Successfull</span>
            </span>
        </div>
    </div>
</div>